body {
    background: url("../images/pattern.png");
    font-family: 'Asap', sans-serif;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #737373;
    overflow: hidden;
}

nav a {
    display: block;
    float: left;
    font-size: 15px;
    color: #8C2029;
    
    

    /*Padding boxes*/
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    /* remove link decoration */
    text-decoration: none;
}

nav a:hover {
    background-color: #D94141;
} #logo {}

#logo {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    letter-spacing: -2px;
    text-shadow: 1px 1px 2px 2px #51222B;

    padding-left: 20px;
    padding-right: 40px;
    margin-right: 10px;
    margin-top: -20px;
}

.dropdown {
    float: left;
    overflow: hidden;
} 



.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 40px;
    background-color: #737373;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #D94141;
}

.dropdown:hover .dropdown-content {
    display: block;
}




.mainText {
    font-family: 'Pacifico', cursive;
    font-size: 195px;
    text-align: center;
    color: #8C2029
}


/*sprint 2 tech*/

.positioning {
    font-family: 'Staatliches', sans-serif;
}

.static {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;
    
}



.relative {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.absolute {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.fixed {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

/* Sprint1-cultural */

.identity {
    font-family: 'Staatliches', sans-serif;
}

.myValues {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;
    
}



.decision1 {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.culture {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.strengths {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.strengths2 {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.strats {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

/* sprint 2 cultural */

.plan {
    font-family: 'Staatliches', sans-serif;
}

.longTerm {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;
    
}

.skills {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;
    
}



.limitations {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.management {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.commitment {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.description {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.scheduling {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

/* sprint 3 cultural */

.definition {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.difference {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.importance {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

/* sprint 3 technical */


.analogy {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.control {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.functions {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}

.DOM {
    background-color: rgb(115, 115, 115, 0.3);
    width: 1171px;

}